#project-panel {
  color: var(--light-purple);
  padding: calc(1vh + 20px);
  height: 100vh;
  background-color: var(--medium-purple);
  overflow: auto;
}

#project-panel h1 {
  text-shadow: 2px 2px 1px var(--darkest-purple);
}

#new-project-input {
  font-weight: normal;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

#new-project-input input[type="text"] {
  flex: 1;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: bold;
  background-color: var(--light-purple);
  margin-right: 10px;
  border: none;
  border-radius: 10px;
  height: 2rem;
  width: 70%;
  padding: 0px 10px 0px 10px;
  font-size: 1.2rem;
  margin-bottom: 60px;
}

::placeholder {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
  color: var(--dark-purple);
}

#add-project {
  background-color: var(--light-purple);
  font-size: 1.5rem;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  transition: transform 0.3s ease-out;
}

#add-project:hover {
  background-color: #c6bdcf;
  cursor: pointer;
  border: none;
  transform: rotate(90deg);
}

#default-project {
  margin-bottom: 20px;
}

#main-project-container,
#project-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

#project-item,
#default-project {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-purple);
  color: var(--darkest-purple);
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 50px;
}

#project-item:hover,
#default-project:hover {
  background-color: var(--lightest-purple);
  cursor: pointer;
}

#project-edit,
#project-delete {
  padding: 5px 5px;
  border-radius: 50%;
}

#project-edit:hover,
#project-delete:hover {
  background-color: var(--light-purple);
}

.edit-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.edit-modal-content {
  display: grid;
  justify-content: center;
  gap: 20px;
  background-color: var(--medium-purple);
  margin: 30vh auto;
  padding: 40px;
  border: none;
  width: 30%;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #000000;
}
.input-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div button {
  font-size: 20px;
  height: 100%;
  color: var(--light-purple);
  background-color: var(--darkest-purple);
  border: none;
  padding: 5px 20px;
}

.input-div button:hover {
  color: var(--darkest-purple);
  background-color: var(--light-purple);
  cursor: pointer;
}

.edit-modal-content input {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: bold;
}
