@import url("https://fonts.googleapis.com/css2?family=Monoton&family=MuseoModerno:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap");
@import url("./projects.css");
@import url("./tasks.css");

:root {
  --darkest-purple: #19171c;
  --dark-purple: #2a2f33;
  --medium-purple: #28222f;
  --light-purple: #9b7dc3;
  --lightest-purple: #c6bdcf;
}

body {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: normal;
  background-color: var(--dark-purple);
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#site-header {
  font-family: "MuseoModerno", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  color: var(--darkest-purple);
  text-shadow: 2px 1px 1px var(--lightest-purple);
  background: linear-gradient(95deg, #b166d8, #361b65);
  padding: calc(1vh + 20px);
}

#main-container {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 3fr;
  height: 100vh;
}

input[type="checkbox"] {
  border: none;
  width: 20px;
  height: 20px;
}
