#task-panel {
  color: var(--light-purple);
  padding: calc(1vh + 20px);
  height: 100vh;
  background-color: hsl(268, 9%, 10%);
  overflow: auto;
}

#task-panel h1 {
  text-shadow: 2px 2px 1px var(--darkest-purple);
}

#tasks-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#add-task {
  background-color: var(--light-purple);
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  transition: transform 0.3s ease-in-out;
}

#add-task:hover {
  background-color: #c6bdcf;
  cursor: pointer;
  border: none;
  transform: rotate(90deg);
}

#task-item {
  display: grid;
  grid-template-columns: 1fr 50px;
  align-items: start;
  width: 100%;
  border-radius: 20px 0px 0px 20px;
  padding: 20px;
  margin: 0px 0px 15px 0px;
  background-color: var(--medium-purple);
  box-shadow: -3px 0px 1px var(--light-purple);
}

#task-edit-delete-dropdown {
  font-size: 1.5rem;
  color: var(--light-purple);
  background-color: var(--medium-purple);
  border: none;
}

#task-edit-delete-dropdown:hover {
  color: #fefefe;
}

#task-name {
  font-size: large;
  font-weight: 500;
}

#task-description {
  font-size: small;
  font-weight: 100;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
