#task-panel {
  color: var(--light-purple);
  padding: calc(1vh + 20px);
  background-color: hsl(268, 9%, 10%);
  overflow: auto;
}

#task-panel h1 {
  text-shadow: 2px 2px 1px var(--darkest-purple);
}

#tasks-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#add-task {
  background-color: var(--light-purple);
  font-size: 2.5rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  transition: transform 0.3s ease-out;
}

#add-task:hover {
  background-color: #c6bdcf;
  cursor: pointer;
  border: none;
  transform: rotate(90deg);
}

#task-edit-delete {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#task-edit-delete img {
  background-color: #cbcbcb;
  opacity: 0.7;
  padding: 3px;
  border-radius: 50%;
}

#task-edit-delete img:hover {
  background-color: var(--light-purple);
  cursor: pointer;
}

div[class^="task-item-"] {
  display: grid;
  grid-template-columns: 50px 1fr;
  justify-content: start;
  align-items: center;
  justify-items: stretch;
  width: 100%;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;
  margin: 0px 0px 15px 0px;
  color: #cbcbcb;
  background-color: rgba(51, 46, 56, 0.3);
  transition: transform 0.3s ease;
}

div[class^="task-item-"]:hover {
  background-color: hsl(272, 10%, 19%);
  cursor: pointer;
}

.task-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.task-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -5px;
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.task-checkbox:hover input ~ .checkmark {
  background-color: var(--lightest-purple);
}

.task-checkbox input:checked ~ .checkmark {
  background-color: var(--light-purple);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.task-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.task-checkbox .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checked {
  opacity: 0.3;
  text-decoration: line-through;
}

.priority-Low {
  box-shadow: -5px 0px 0px hsl(120, 100%, 35%);
}

.priority-Medium {
  box-shadow: -5px 0px 0px hsl(62, 99%, 35%);
}

.priority-High {
  box-shadow: -5px 0px 0px hsl(0, 100%, 35%);
}

.task-details {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 60px;
  justify-content: start;
  align-items: center;
}

.task-name {
  font-size: 1rem;
  font-weight: 400;
}

.task-description,
.task-due-date {
  font-size: 0.9rem;
  font-weight: 100;
}

.task-priority {
  font-size: 0.9rem;
  font-weight: 100;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  backdrop-filter: blur(10px);
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-purple);
  margin: 30vh auto;
  padding: 40px 0px;
  border: none;
  width: 50%;
  border-radius: 20px;
  box-shadow: 1px 1px 20px #000000;
}

.close {
  position: absolute;
  top: 0.3rem;
  right: 1.1rem;
  text-align: right;
  color: var(--light-purple);
  font-size: 2rem;
  padding: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

label {
  font-size: 1.2rem;
  color: var(--light-purple);
  font-weight: 400;
}

.modal-content input[type="text"] {
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 5px;
}

textarea {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 20px;
}

form {
  font-size: 1.2rem;
  display: grid;
  gap: 5px;
}

.date-priority {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.task-priority,
.date {
  display: flex;
  align-items: center;
  gap: 20px;
}

.priority-low {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(120, 100%, 68%);
  border: 1px solid hsl(120, 100%, 68%);
  padding: 3px 8px;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.low-active {
  color: var(--medium-purple);
  background-color: hsl(120, 100%, 68%);
}

.priority-med {
  font-size: 0.8rem;
  font-weight: 500;

  text-transform: uppercase;
  color: hsl(62, 99%, 65%);
  border: 1px solid hsl(62, 99%, 65%);
  padding: 3px 8px;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.med-active {
  color: var(--medium-purple);
  background-color: hsl(62, 99%, 65%);
}

.priority-high {
  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: hsl(0, 100%, 65%);
  border: 1px solid hsl(0, 100%, 65%);
  padding: 3px 8px;
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

.high-active {
  color: var(--medium-purple);
  background-color: hsl(0, 100%, 65%);
}

.priority-low:hover {
  color: var(--darkest-purple);
  background-color: hsl(120, 100%, 68%);
  border: 1px solid hsl(120, 100%, 68%);
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.priority-med:hover {
  color: var(--darkest-purple);
  background-color: hsl(62, 99%, 65%);
  border: 1px solid hsl(62, 99%, 65%);
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.priority-high:hover {
  color: var(--darkest-purple);
  background-color: hsl(0, 100%, 65%);
  border: 1px solid hsl(0, 100%, 65%);
  padding: 3px 8px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

input[type="date"] {
  padding: 0.2rem 0.5rem;
  border: 1px solid var(--lightest-purple);
  border-radius: 5px;
  color: var(--lightest-purple);
  background-color: transparent;
  font-size: 0.88rem;
  text-transform: uppercase;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: 300;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  margin-right: 1px;
  opacity: 0.6;
  filter: invert(1);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

#task-submit {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  margin-top: 2rem;
  width: 85%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--light-purple);
  transition: background-color 0.2s ease-in-out;
}

#task-submit:hover {
  color: var(--dark-purple);
  background-color: var(--lightest-purple);
  cursor: pointer;
}
